div.body{
    border: 2px solid black;
    text-align: center;
    margin: 5%;
    padding: 10px;
    font-family: "Proxima Nova Soft", "Helvetica Neue", sans-serif;
    font-weight: bold;
}

div.body div{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 10px;
    line-height: 100px;
    margin: 8px;
}